html{
    background-image: url("../image/7f972a00-56e3-45c2-9ad8-eabae85b5265.png");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
#myBackgrond{
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: 100%;
    height: auto;
    z-index: -1;
}
.nav{
    display: flex;
    flex-direction: row;
    color: #cccccc;
    font-size: 20px;
}
.nav .head{
    width: 100%;
    margin: 20px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav .head{

}