html, body{
    background-image: url("../image/7f972a00-56e3-45c2-9ad8-eabae85b5265.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    width: 100%;
}

/* 导航栏样式 */
.nav{
    position: fixed;
    width: 100%;
    color: #cccccc;
    background-color: rgba(25, 30, 38, 0.7);
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.5em;
    z-index: 2;
    transition: 1s all;
}
.nav .left, .nav .right{
    margin: 2em 0 0.5em 0;
}
.nav .left span{
    padding: 0 0.5em;
}
.nav .left .name{
    background: linear-gradient(45deg, #4e56b5 0%, #fad0c4 100%);
    color: transparent;
    background-clip: text;
    font-weight: bold;
}
.nav :hover{
    color: #aaaaaa;
}

/* 主页样式 */
.head{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
}
.head .center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head .center .word{
    background: linear-gradient(45deg, #4e56b5 0%, #fad0c4 100%);
    color: transparent;
    background-clip: text;
    font-size: 2.5em;
    font-weight: bold;
}
.head .arrow{
    position: absolute;
    font-size: 2.5em;
    bottom: 2em;
}

/* 下滑内容样式 */
.content{
    width: 100%;
    height: 100px;
    background-color: #cccccc;
}