@font-face {
  font-family: "iconfont"; /* Project id 4789945 */
  src: url('iconfont.woff2?t=1734785805356') format('woff2'),
       url('iconfont.woff?t=1734785805356') format('woff'),
       url('iconfont.ttf?t=1734785805356') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e600";
}

.icon-about:before {
  content: "\e614";
}

.icon-liuyan:before {
  content: "\e615";
}

.icon-xiala:before {
  content: "\e78e";
}

.icon-16:before {
  content: "\e616";
}

.icon-sousuo:before {
  content: "\e60a";
}

